.bg {
	background-color: #2255cc;
	margin: 0px;
}
#nav {
	margin: 0px;
	text-align: center;
	background-color: #9999ff;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
}
#foot {
	position: fixed;
	margin: 0px;
	text-align: center;
	font-size: 30px;
	background-color: #9999ff;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	bottom: 0px;
}
#foot hr{
	margin: 0px;
}
	#nav hr{
		margin-top: 4px;
	}
	#nav a {
		border: 2px solid #9999ff;
		background-color: #9999ff;
		margin-top: auto;
		font-size: 30px;
		text-decoration: none;
	}
		#nav a:hover {
			border: solid 2px #8787fd;
			background-color: #8787fd;
			margin:0px;
			font-size: 30px;
			text-decoration: none;
		}


.title {
	text-align: center;
}
h1 {
	margin: 0px;
	font-size: 60px;
	color: whitesmoke;
}
h2 {
	margin: 0px;
	font-size: 30px;
	color: whitesmoke;
}